<div class="container">

<h1 class="artists-heading">Artists</h1>

<% if @user.blank? %>
  <% @users.each do |user| %>
      <ul class="user-list">
        <li class="user">
          <%= link_to user do %>

          <div class="tile-image">
            <% if user.avatar.attached? %>
              <%= image_tag(user.avatar) %>
            <% end %>
          </div>

          <div class="tile-text">
            <div class="name">
              <%= user.first_name %> <%= user.last_name %>
            </div>

            <div class="bio">
              <%= user.about %>
            </div>
          </div>

        </li>
      </ul>
    <% end %>
  <% end %>


<% else %>
  <p>No Users</p>
<% end %>

</div>
